In [30]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Housing.csv')

In [3]:
df.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [13]:
dum_df = pd.get_dummies(df , drop_first=True)

In [14]:
dum_df

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,42000.0,5850,3,1,2,1,1,0,1,0,0,0
1,38500.0,4000,2,1,1,0,1,0,0,0,0,0
2,49500.0,3060,3,1,1,0,1,0,0,0,0,0
3,60500.0,6650,3,1,2,0,1,1,0,0,0,0
4,61000.0,6360,2,1,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,0,1,1,0,0,1,0
542,94000.0,6000,3,2,4,0,1,0,0,0,1,0
543,103000.0,6000,3,2,4,1,1,1,0,0,1,0
544,105000.0,6000,3,2,2,1,1,1,0,0,1,0
545,105000.0,6000,3,1,2,1,1,0,0,0,1,0

# Importing Train Test Split and KNeighborsRegressor

In [17]:
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsRegressor

- Splitting in X and Y

In [27]:
X = dum_df.iloc[:,1:]
y = dum_df.iloc[:,0]

In [19]:
# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.3, 
                                                    random_state=2021)

# Initialising KNeighborsRegressor Object

In [22]:
knn = KNeighborsRegressor(n_neighbors=1)

# Fitting the model with X_train and y_train

In [23]:
knn.fit( X_train , y_train )

# Prediction

In [24]:
y_pred = knn.predict(X_test)

In [25]:
y_pred

array([ 40500.,  30500., 102000.,  67000.,  45000.,  86000., 122000.,
        51000.,  86000.,  92000.,  68100., 101000., 114900.,  61500.,
        54000.,  51500.,  51000.,  72000.,  64000., 102000.,  47900.,
        95000.,  50000.,  58900.,  42000.,  85000.,  45000.,  51000.,
       105000.,  37000.,  75000.,  60000.,  71900., 104900.,  70800.,
        64900.,  47000.,  47000.,  55000.,  86000.,  60000.,  75000.,
        51000.,  36000.,  86900.,  44000.,  61000.,  47000.,  87000.,
        80750., 126500.,  62900.,  76900.,  40000.,  44900.,  75000.,
        47900.,  51500.,  40000.,  63000., 101000.,  68100.,  43000.,
       124000., 107500.,  50000.,  55000., 120000.,  58500., 101000.,
        47000.,  64000.,  46000.,  70000.,  66500.,  96000.,  47000.,
        27000.,  49000.,  40500.,  78900.,  41000.,  78900.,  35500.,
        44100.,  51000., 163000.,  49000.,  92000.,  83900.,  35500.,
        73000.,  50000.,  51000.,  45000., 125000.,  60000.,  44000.,
        60000.,  64900.,  82000.,  40500.,  60000.,  47000.,  58550.,
        71000.,  57000.,  68000.,  35000.,  78000.,  60500.,  83900.,
        50000.,  37000.,  52000., 105000.,  35500.,  80000.,  85000.,
        75000.,  46000., 132000.,  49000.,  75000.,  64500.,  73000.,
        96500.,  50000.,  55000.,  74500.,  63000.,  43000.,  49000.,
        49000.,  75000.,  92000., 107500.,  93000.,  30000.,  96500.,
        96000.,  36000.,  47000., 114900.,  96500.,  58900.,  51000.,
        35000.,  67000.,  60000.,  83000., 112000.,  96500.,  69000.,
        53000.,  57250.,  70000.,  48000.,  74500.,  39000., 113000.,
        43500., 123500., 105000.])

# Importing R2 score and msq and rmse

In [28]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [31]:
print( np.sqrt( mean_squared_error(y_test, y_pred)))
print(mean_absolute_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

25103.948528215977
17771.951219512193
0.04470080710701929